<!DOCTYPE html>
<html>
  <head>
    <title>Weblio</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/fd343208f2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h2 class="navbar-brand" href="/"><span><%= link_to "LOGO",root_path %></span></h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if  end_user_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li style="margin-right:40px;margin-top:17px">ようこそ, <%=current_end_user.last_name %>!</li>
                <li><a class=" nav-link text-secondary" href="/end_user"> マイページ</a></li>
                <li><a class=" nav-link text-secondary" href="/items"> 商品一覧</a></li>
                <li><a class=" nav-link text-secondary" href="#"> カート</a></li>
                <li><a class="nav-link text-secondary" rel="nofollow"  href="/end_users/sign_out"> ログアウト</a></li>
              </ul>
            <% elsif admin_signed_in?%>
              <ul class="navbar-nav ml-auto">
                <li><a class=" nav-link text-secondary" href="/admin/items"> 商品一覧</a></li>
                <li><a class=" nav-link text-secondary" href="/admin/end_users"> 会員一覧</a></li>
                <li><a class=" nav-link text-secondary" href="#"> 注文一覧</a></li>
                <li><a class=" nav-link text-secondary" href="/admin/genres"> ジャンル一覧</a></li>
                <li><a class="nav-link text-secondary" rel="nofollow"  href="/admin/sign_out"> ログアウト</a></li>
              </ul>
            <% else %>
              <ul class="navbar-nav ml-auto">
                <li><a class=" nav-link " href="#"> About </a></li>&nbsp; &nbsp;
                <li><a class="nav-link" href="/items"> 商品一覧</a></li>&nbsp; &nbsp;
                <li><a class="nav-link" href="/end_users/sign_up"> 新規登録</a></li>&nbsp; &nbsp;
                <li><a class="nav-link" href="/end_users/sign_in"> ログイン</a></li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
